vercel_api_token=
repo=

MONGODB_URI=
DB_NAME=
WEATHER_API_KEY=
WEATHER_LOCATION=
WEATHER_URL=
THERMOMETER_CLIENT_KEY=
GOOGLE_ID=
GOOGLE_SECRET=
NEXT_PUBLIC_CLIENT_ID=
NEXTAUTH_SECRET=
ATLAS_PUBLIC_KEY=
ATLAS_PRIVATE_KEY=
ATLAS_ORG_ID=
ATLAS_DB_USER_NAME="thermometer-terraform-user"
ATLAS_DB_USER_PASSWORD=
ATLAS_ACCESS_IP="0.0.0.0/0"
ATLAS_PROJECT_NAME="ThermometerProject"
ATLAS_CLUSTER_NAME="ThermometerCluster"
ATLAS_PROVIDER_NAME="AWS"
ATLAS_PROVIDER_REGION_NAME="EU_CENTRAL_1"
ATLAS_PROVIDER_SIZE="M0"